footer
  .container.text-center
    hr
    p Made with &nbsp;
      span.ion-heart
      | by 
      a(href="http://sumninjacode.io") Sumedha Pramod
    br
    p.disclaimer
      | I do not own any of these videos. They have been collected from various online streaming sources. Each episode belongs to the show's respective broadcasting company (among which are NBC and USA).